/**************************TAG SELECTORS*********************/


body{
    background-color: #A6BB8D;
}
h1{
    color: #000000;
}
h2{
    color: #000000;
}
h3{
    color: #000000;


}

hr{
   border-style: dotted none none;
   border-color: grey;
   border-width: 5px;
   width: 5%;
}

/**************************CLASS SELECTORS*********************/


.circular{
    border-radius: 100%;
    width: 200px;
}
.ankit{
    width: 130px;
}


.learn{
    color: #000000;
}

.red:hover{
    color: red;

}
